
.sn-player-progress {
    /*transition: all .3s;*/
    /*transform: translate(0, 0px);*/
    /*transform: translate(0, -50px);*/
}



@keyframes startAndPause {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.4);
        opacity: 0;
    }
}
